.toggle-button {
  width: 34px;
  height: 14px;
  border-radius: 12.5px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-button.on {
  background-color: #9ECEFF;
}

.toggle-button.off {
  background-color: #ccc;
}

.toggle-thumb {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #007DFF;
  transition: transform 0.3s;
}

.toggle-button.on .toggle-thumb {
  transform: translateX(14px);
}

.toggle-button.off .toggle-thumb {
  transform: translateX(0);
}
